In [14]:
import pandas as pd
import numpy as np

In [15]:
s=pd.Series([3,4,np.nan,5,6,7,8])
s

0    3.0
1    4.0
2    NaN
3    5.0
4    6.0
5    7.0
6    8.0
dtype: float64

In [16]:
date=pd.date_range("20220717",periods=6)
date

DatetimeIndex(['2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list("ABCD"))
df

                   A         B         C         D
2022-07-17 -0.418941 -0.032400  0.443031 -0.471363
2022-07-18 -0.334272  0.354446 -0.101463  1.164479
2022-07-19 -2.286877 -0.698047  0.422988 -0.097813
2022-07-20 -1.360171 -1.183677  0.885366 -0.739801
2022-07-21 -0.302585  0.154327 -1.468883 -0.245430
2022-07-22  0.223995  1.427673  0.325122  0.299015

In [18]:
df2=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20220717"),
        "c":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "D":pd.Categorical(["gril","womam","gril","womam"]),
        "E":"female",
    }
)
df2

     A          B    c      D       E
0  1.0 2022-07-17  1.0   gril  female
1  1.0 2022-07-17  1.0  womam  female
2  1.0 2022-07-17  1.0   gril  female
3  1.0 2022-07-17  1.0  womam  female

In [19]:
df2.dtypes

A           float64
B    datetime64[ns]
c           float32
D          category
E            object
dtype: object

In [20]:
df.head()

                   A         B         C         D
2022-07-17 -0.418941 -0.032400  0.443031 -0.471363
2022-07-18 -0.334272  0.354446 -0.101463  1.164479
2022-07-19 -2.286877 -0.698047  0.422988 -0.097813
2022-07-20 -1.360171 -1.183677  0.885366 -0.739801
2022-07-21 -0.302585  0.154327 -1.468883 -0.245430

In [22]:
df.tail()

                   A         B         C         D
2022-07-18 -0.334272  0.354446 -0.101463  1.164479
2022-07-19 -2.286877 -0.698047  0.422988 -0.097813
2022-07-20 -1.360171 -1.183677  0.885366 -0.739801
2022-07-21 -0.302585  0.154327 -1.468883 -0.245430
2022-07-22  0.223995  1.427673  0.325122  0.299015

In [23]:
df.index

DatetimeIndex(['2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [27]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2022-07-17 -0.418941 -0.032400  0.443031 -0.471363
2022-07-18 -0.334272  0.354446 -0.101463  1.164479
2022-07-19 -2.286877 -0.698047  0.422988 -0.097813
2022-07-20 -1.360171 -1.183677  0.885366 -0.739801
2022-07-21 -0.302585  0.154327 -1.468883 -0.245430
2022-07-22  0.223995  1.427673  0.325122  0.299015>

In [29]:
df2.to_numpy()

array([[1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'gril', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'womam', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'gril', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'womam', 'female']],
      dtype=object)

In [30]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.746475  0.003720  0.084360 -0.015152
std    0.912743  0.902998  0.823406  0.675772
min   -2.286877 -1.183677 -1.468883 -0.739801
25%   -1.124863 -0.531635  0.005183 -0.414880
50%   -0.376607  0.060963  0.374055 -0.171622
75%   -0.310507  0.304416  0.438020  0.199808
max    0.223995  1.427673  0.885366  1.164479

In [31]:
df2.describe()

         A    c
count  4.0  4.0
mean   1.0  1.0
std    0.0  0.0
min    1.0  1.0
25%    1.0  1.0
50%    1.0  1.0
75%    1.0  1.0
max    1.0  1.0

In [32]:
# to transpose data rows column and column rows
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-07-17 00:00:00,2022-07-17 00:00:00,2022-07-17 00:00:00,2022-07-17 00:00:00
c,1.0,1.0,1.0,1.0
D,gril,womam,gril,womam
E,female,female,female,female